#root {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  display: flex;
  min-height: 100vh;
}

#userDetails {
  margin-right: 0.5rem;
  margin-left: auto;
}

#navName {
  margin-left: 0.5rem;
}

.underNav {
  margin-top: 5rem!important;
}

.margin-top-05rem {
  margin-top: 0.5rem;
}

.margin-right-02rem {
  margin-right: 0.2rem;
}

.content-image {
  max-width: 400px;
  max-height: 500px;
}

.padding-05rem {
  padding: 0.5rem;
}
