#root {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  height: 100vh;
}

#userDetails {
  margin-right: 0.5rem;
  margin-left: auto;
}

#navName {
  margin-left: 0.5rem;
}

.underNav {
  margin-top: 5rem!important;
}
