#loginForm {
    max-width: 22rem;
    width: 100%;
    padding: 1rem;
    transition: box-shadow 0.5s ease-in-out;
}

#loginForm:hover {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    transition: box-shadow 0.5s ease-in-out;
}

#loginForm form * {
    margin: 0.25rem;
}

#loginError {
    margin: 0.5rem;
}